<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>${server.id}</id>
            <username>${server.username}</username>
            <password>${server.password}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>default-ess-profile</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>ess-libs-release</id>
                    <url>https://artifactory.esss.lu.se/artifactory/libs-release</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>ess-libs-snapshot</id>
                    <url>https://artifactory.esss.lu.se/artifactory/libs-snapshot</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>ess-ics-plugins-release</id>
                    <url>https://artifactory.esss.lu.se/artifactory/plugins-release</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>ess-ics-plugins-snapshot</id>
                    <url>https://artifactory.esss.lu.se/artifactory/plugins-snapshot</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
            <properties>
                <sonar.host.url>https://sonarqube.esss.lu.se</sonar.host.url>
                <artifactory.url>https://artifactory.esss.lu.se/artifactory</artifactory.url>
            </properties>
        </profile>
    </profiles>
</settings>
