[Unit]
Description=Apache ActiveMQ
After=network-online.target

[Service]
Type=forking
WorkingDirectory=/opt/activemq
PIDFile=/opt/activemq/data/activemq.pid
ExecStart=/bin/sh -c '. /etc/profile.d/java_env.sh; /opt/activemq/bin/artemis start'
ExecStop=/bin/sh -c '. /etc/profile.d/java_env.sh; /opt/activemq/bin/artemis stop'
User=activemq
Group=activemq

[Install]
WantedBy=multi-user.target
